hr{
    color: rgba(192, 192, 192, 0.701);
}

.Conversores {
    margin: 20px auto;
    padding: 10px 15px;
    width: 90%;
}

.Conversores h3 {
    background-color: var(--CorPadrao);
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.InfoSexagesimal {
    margin: 0px auto;
}

.InfoSexagesimal input {
    background-color: white;

    border-top: 0px solid;
    border-right: 0px solid;
    border-bottom: 1px solid;
    border-left: 0px solid;
    border-color: rgba(192, 192, 192, 0.701);

    text-align: center;
    width: 30px;
}

#Resultado {
    text-align: right;
    width: 50%;
}

.BotaoConversor {
    background-color: var(--BotaoCorFundo);
    color: var(--CorTextoTomAzul);
    margin: 5px 0px;
    padding: 2px 5px;
}

.BotaoConversor:active {
    background-color: var(--BotaoClicadoCorFundo);
    color: white;
}

#Campos {
    display: block;
    margin-top: 5px;
    width: 100%;
}

#Dados {
    padding: 0px;
    display: flex;
    justify-content: space-between;
}

#InfoDecimal {
    text-align: right;
    width: 125px;
}

#InfoDecimal, .InfoSexagesimal, .BotaoConversor {
    border-radius: 2px;
    font-size: 0.85em;
}

#Formula {
    font-size: 0.5em;
    padding: 5px;
    width: 100%;
}

#ValorDecimal {
    margin-top: 5px;
    width: 50px;
}