.Conversores {
    background: white;
    margin: 20px auto;
    padding: 10px 15px;
    width: 90%;
}

.Conversores h3 {
    background-color: var(--CorPadrao);
    color: white;
    padding: 5px 10px;
    margin-bottom: 10px;
}

.InfoSexagesimal {
    text-align: center;
    width: 30px;
}

.Resultado {
    background-color: transparent;
    border: 0px;
    color: var(--CorTextoTomAzul);
    display: inline-block;
    margin: 2px 0px;
}

.BotaoConversor {
    background-color: var(--BotaoCorFundo);
    color: var(--CorTextoTomAzul);
    margin: 0px 2px;
    padding: 2px 5px;
}

.BotaoConversor:active {
    background-color: var(--BotaoClicadoCorFundo);
    color: white;
}

#InfoDecimal, .Resultado {
    text-align: right;
    width: 125px;
}

#InfoDecimal, .InfoSexagesimal {
    background-color: white;
    border: 1px solid rgba(192, 192, 192, 0.701);
}

#InfoDecimal, .InfoSexagesimal, .BotaoConversor {
    border-radius: 2px;
    font-size: 0.85em;
}