* {
    font-family: 'Overlock', cursive;
}

input{
    border-radius: 3px;
    border: 1px solid silver;
}

h2 {
    text-align: center;
}

#Cabecalho{
    height: 100px;
    margin: 0;
    text-align: center;
    background: lightblue;
}

#Cabecalho h1 {
    margin-top: 0;
    padding: 30px
}

#Conteudo{
    border: 1px solid lightgray;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 700;
    border-radius: 7.5px;
}

.Conversores {
    border: 1px solid lightgray;
    border-radius: 7.5px;
    margin: 10px;
    padding: 10px 30px;
}

.InfoSexagesimal {
    text-align: center;
    width: 30px;
}

.Resultado {
    display: inline-block;
    margin: 4px 0;
}

#InfoDecimal, .Resultado {
    text-align: right;
    width: 115px;
}

#ResultadoDecimal, #ResultadoSexagesimal {
    cursor: pointer;
}