* {
    font-family: 'Overlock', cursive;
    font-size: 16;
    margin: 0;
}

button {
    cursor: pointer;
}

input{
    border-radius: 3px;
    border: 1px solid silver;
}

h2 {
    text-align: center;
}

#Cabecalho{
    height: 5.5%;
    margin: 0;
    background: rgb(173, 230, 178);
}

#Logo {
    text-align: center;
}

#Logo h1 {
    font-size: 2em;
}

#Conteudo{
    background: rgb(173, 230, 178);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.397);
    display: flex;
    margin-left: auto;
    margin-right: auto;
    width: 700;
    border-radius: 7.5px;
}

#Navegacao {
    border: 1px solid red;
    /* display: ; */
    /* justify-content: space; */
    margin: 0;
    padding: 0;
    width: 100%;
}

#Navegacao a {
    border: 1px solid red;
    display: block;
    width: 50%;
    text-align: center;
}

#Navegacao a:link, a:visited {
    color: black;
    text-decoration: none;
}

#Navegacao a:hover{
    background-color: black;
}

#Pagina {
    background-color: rgb(242, 240, 240);
    height: 95%;
    width: 900;
    margin: 0 auto;
}

.Conversores {
    background: white;
    border-radius: 7.5px;
    margin: 10px;
    padding: 10px 30px;
}

.InfoSexagesimal {
    text-align: center;
    width: 30px;
}

.Resultado {
    display: inline-block;
    margin: 2 0;
}

#InfoDecimal, .Resultado {
    text-align: right;
    width: 115px;
}