:root {
    --CorPadrao: #29A7FB;
    --CorTextoTomAzul: #0063a4;
    
    --BotaoCorFundo: #29a7fb85;
    --BotaoClicadoCorFundo: #0063a4;
}

* {
    font-family: 'Overlock', cursive;
    font-size: 16px;
}

button {
    border: none;
    cursor: pointer;
}

body {
    background-color: rgb(64, 64, 64) ;
    height: 95%;
    width: 1000px;
    margin: auto;
}

/* Cabeçalho */

#Cabecalho{
    background: var(--CorPadrao)
}

#Logo {
    color: white;
    text-align: center;
}

#Logo h1 {
    font-size: 2em;
}

#Navegacao {
    background: transparent;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

#Navegacao ul {
    display: flex;
    width: 20%;
}

#Navegacao li {
    cursor: pointer;
    list-style: none;
    line-height: 2;
    text-align: center;
    width: 50%;
}

#Navegacao li:link, a, a:visited {
    color: white;
    text-decoration: none;
}

#Navegacao a:hover{
    border-bottom: 1px solid white;
}

/* Fim de Cabeçalho */

#Conteudo{
    background: var(--CorPadrao);
    height: 520px;
    margin-top: 15px;
    margin-left: auto;
    padding-top: 2px;
    width: 750px;
}