:root {
    --CorPadrao: #29A7FB;
    --CorSecundaria: white;

    --CorTextoTomAzulPrimario: #29A7FB;
    --CorTextoTomAzulSecundario: #0063a4;
    --CorTextoClaro: white;

    --BotaoCorFundo: #29a7fb85;
    --BotaoClicadoCorFundo: #0063a4;
}

* {
    font-family: 'Overlock', cursive;
}

button {
    border: none;
    cursor: pointer;
}

body {
    background-color: #1e1e1ef2 ;
    height: 95%;
    width: 1000px;
    margin: auto;
}

/* Cabeçalho */

#Cabecalho{
    background: var(--CorPadrao);
    color: white;
}

#Logo {

    text-align: center;
}

#Logo h1 {
    font-size: 2em;
}

#Navegacao {
    background: transparent;
    display: inline-flex;
    justify-content: space-around;
    margin-top: 10px;
    width: 100%;
}

#Navegacao ul {
    display: flex;
    width: 20%;
}

#Navegacao li {
    cursor: pointer;
    list-style: none;
    line-height: 2;
    text-align: center;
    width: 50%;
}

#Navegacao li:link, #Navegacao a, #Navegacao a:visited {
    color: white;
    text-decoration: none;
}

#Navegacao a:hover{
    border-bottom: 1px solid white;
}

/* Fim de Cabeçalho */

#AreaConteudo{
    background: var(--CorPadrao);
    color: var(--CorTextoTomAzulPrimario);
    display: flex;
    justify-content: center;
    height: 520px;
    margin-top: 15px;
    margin-left: auto;
    width: 655px;
}

#Pagina {
    display: flex;
}

#SubMenu {
    background-color: var(--CorPadrao);
    height: 520px;
    margin: 15px 0px;
    width: 330px;
}

#SubMenu li {
    margin: 10px;
    padding: 5px;
}

#SubMenu a, #SubMenu a:visited {
    color: var(--CorTextoClaro);
    font-weight: bold;
    text-decoration: none;
}

#SubMenu a:hover {
    text-decoration: underline;
}

#Conteudo {
    background-color: var(--CorSecundaria);
    margin: 15px auto;
    width: 95%;
}